*{
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: auto;
    
}

body {
    text-align:center;
}

.wrapper {
    /* width:1170px; */
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

header {
    background: #262626;
    width: 100%;  
    z-index: 12;
    position: fixed;
}

.siteTitle {
    width: 30%;
    float: left; 
    line-height: 100px;
   

}

.siteTitle a{
    text-decoration: none;
    font-size: 30px;
    font-family: 'Alfa Slab One', 'Open Sans';
    color: #ffffff;
    letter-spacing: 5px;
}

nav {
    float: right;
    line-height: 100px;  
    width: 50%;
    min-width: 400px;
   }

nav a { 
    font-family: 'Alfa Slab One', 'Open Sans';
    letter-spacing: 4px; 
    font-size: 20px; 
    margin: 0 20px; 
    color: #fff; 
    text-align: left;
    text-decoration: none;
}

.banner-area {
    width: 100%;
    height: 350px;
    position: fixed;
    top: 100px;
    background-image: url(photoalbum.jpg); 
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;

}

.banner-area h2{
    max-width: 100%;
    height: auto;
    padding-top: 8%;
    font-size: 70px;
    font-family: poppins;
    text-transform: uppercase;
    color:  #fff;
    text-decoration: none;
    

}
.banner-area a {
    text-decoration: none;
    text-shadow: 3px 3px 3px;
}


.content-area {
    width:100%; 
    position: relative; 
    top: 450px;
    background: #ddd;
    background-image:linear-gradient(gray, white);
    height: 1500px;
    
}

.content-area img {
    max-width: 100%;
    height: auto;
    float: left;

}

.content-area h2 {
    font-family: 'Alpha Slab One', 'Open Sans';
    letter-spacing: 4px; 
    padding-top: 30px;
    font-size: 40px;
    margin: 0;
}

.content-area p {
    font-family: 'Open Sans';
    padding: 2% 0; 
    line-height: 30px;
    font-size: 20px;
}  
/* Ipad */
@media(max-width: 1024px){
    .siteTitle {
        width: 400px;

    }



    .banner-area {
        
    }

}
/* Iphone */
@media (max-width: 670px){
    .siteTitle { 
        text-align: left;

    }

    .siteTitle a {
        margin: 0 10px;
    }
    }























/*:root {
    --color-one: #8eaab8;
    --color-two: #a48eb8;
    --color-three: #b8b58e;
    font-family: 'Alfa Slab One', 'Open Sans';
    background-color: #8eaab8dd;
} 

#spacer {
    width: 100%; 

   
}

.main {
 
}



body {
 margin: 0px;
 padding: 0px;
}

header {
 padding: 0px 0em 1em 0px;
 font-size: 20px;
 overflow: hidden;
 position: fixed;
 width: 100%;
 max-height: 5%;
 background-color: var(--color-three);
 z-index: 2;
    }

.container {
    
}

.tracks {
    display: ;
 float: left;
 position: sticky;
 right: 25em;
 bottom: 20em;
}  

.headerText {
    padding: 30px, 50px, 30px, 50px;
    
    
}

#siteTitle {
 float: right;
 font-size: 40px;
 line-height: 10px;
 color: var(--color-two);
 font-weight: 700;
 padding-right: 50px;
 text-shadow: 2px 2px 1px #0C0C0C;
}
 
nav {
    
 float: left;
}
nav li {
    display: inline;
    float:left;
}

#onismCover {
    float:right;
    display: inline;
    position: sticky; 
    left: 5em;
    bottom: 4em;
    box-shadow: 10px 20px 10px rgba(22, 21, 17, 0.61);
    padding: 0px;


    
}

/*#albumTitleContainer {

 top: 50px;

} */

/*#albumCoverandTracksContainer {
 position:absolute;
 left: 40px; 
 padding: 30px;
    
    
}*/

footer {
    display: block;
    text-align: center;
}